.responsetxt {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: darkcyan;
  background-image: linear-gradient(to right, darkcyan, #003333);
  background-repeat: repeat-x;
  background-size: auto 100%;
  text-align: center;
  line-height: 30px;
  font-size: x-large;
}


.command {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: darkcyan;
  background-image: linear-gradient(to left, #002200, darkgreen);
  background-repeat: repeat-x;
  background-size: auto 100%;
  text-align: center;
  line-height: 30px;
  font-size: x-large;
  float:right;
}

.box {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: transparent;
  background-image: linear-gradient(to right, #111111, #003333);
  color:white;
  background-repeat: repeat-x;
  background-size: auto 100%;
  text-align: left;
  line-height: 30px;
  font-size: x-large;
  position:fixed;
  bottom:7px;
  left:54px;
  width: calc(100% - 282px);
  border:0;
}

.button-round {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #111111;
  color:white;
  background-repeat: repeat-x;
  background-size: auto 100%;
  text-align: center;
  line-height: 30px;
  font-size: x-large;
  position:fixed;
  bottom:7px;
  left:7px;
  width: 40px;
  border:0;
  overflow:hidden;
}


.button-long {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #111111;
  color:white;
  background-repeat: repeat-x;
  background-size: auto 100%;
  text-align: center;
  line-height: 30px;
  font-size: x-large;
  position:fixed;
  bottom:7px;
  right:7px;
  width: 195px;
  border:0;
  overflow:hidden;
}
