.squareLeft {
  font-size: x-large;
  width: 44vw;
  height: 44vw;
  text-align: center;
  color: black;
  background-color: green;
  border-radius: 10px;
  clear: left;
  float: left;
  overflow: hidden;
  border: 1vw inset red;
  margin: 2vw;
  margin-right: 0;
}

.squareRight {
  font-size: x-large;
  width: 44vw;
  height: 44vw;
  text-align: center;
  color: black;
  background-color: darkcyan;
  border-radius: 10px;
  clear: right;
  float: right;
  border: 1vw inset red;
  margin: 2vw;
  margin-left: 0;
  padding: 0;
  overflow: hidden;
}

.squareSettings {
  font-size: x-large;
  width: 44vw;
  height: 44vw;
  text-align: center;
  color: black;
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 10px;
  clear: right;
  float: right;
  border: 1vw inset red;
  margin: 2vw;
  margin-left: 0;
  padding: 0;
  overflow: hidden;
}

.text {
  font-family: 'Orbitron', sans-serif;
  padding: 1vw;
}

.cfgelement {
  font-family: 'Orbitron', sans-serif;
  margin-top: 3vw;
  margin-top: 3vw;
}

.m2x1 {
  font-size: x-large;
  width: 92vw;
  height: 44vw;
  margin: 2vw;
  text-align: center;
  color: black;
  background-color: rgba(0, 255, 255, 0.3);
  border-radius: 10px;
  overflow: hidden;
  border: 1vw inset red;
  margin: 2vw;
  clear: both;
  word-wrap: break-word;
}

.help {
  font-size: x-large;
  width: 92vw;
  height: 44vw;
  margin: 2vw;
  text-align: center;
  color: white;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  border: 1vw inset red;
  margin: 2vw;
  clear: both;
  word-wrap: break-word;
  font-weight: bolder;
}

.image {
  width: 60%;
  height: 60%;
  padding: 20%;
}

.title {
  font-size: xx-large;
  width: 100%;
  text-align: center;
  margin-top: 5vw;
  margin-bottom: 5vw;
  font-family: 'Orbitron', sans-serif;
  word-wrap: break-word;
}

.ghost-button {
  font-size: x-large;
  width: 100%;
  text-align: center;
  margin-top: 0vw;
  font-family: 'Orbitron', sans-serif;
  word-wrap: break-word;
  background-color: darkgray;
}
